<head>
  <link href="/assets/users.scss" rel="stylesheet">
</head>

<%= form_for @user do |f| %>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <%= f.text_field :first_name, class: "fadeIn first", placeholder: "First Name" %><br>
      <%= f.text_field :last_name, class: "fadeIn second", placeholder: "Last Name"%><br>
      <%= f.text_field :username, class: "fadeIn third", placeholder: "Username"%><br>
      <%= f.password_field :password, class: "fadeIn fourth", placeholder: "Password" %><br>
      <%= f.submit class: "fadeIn fifth" %><br>
      <a class="underlineHover" href="/login">Already registered? Sign in here</a>
    </div>
  </div>
<% end %>
