<head>
  <link href="/assets/ingredients.scss" rel="stylesheet">
</head>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

  <div class="nav-item active">
    <%= form_tag(ingredients_path,method: :get) do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Ingredient' %>
      <%= submit_tag 'Search', name: nil%>
    <% end %>
  </div>

</nav>

<div class="grid-container">


<% @ingredients.each do |ing| %>
  <div>
    <%= link_to (image_tag image_url("https://www.themealdb.com/images/ingredients/#{ing.name}-small.png")), ing %>
    <%= link_to ing.name, ing %>
  </div>
<%end%>


</div>
