<head>
  <link href="/assets/meals.scss" rel="stylesheet">
</head>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

  <div class="nav-item active">
    <%= form_tag(meals_path,method: :get) do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Meal' %>
      <%= submit_tag 'Search', name: nil%>
    <% end %>
  </div>

</nav>

<div class="grid-container">

  <% @meals.each do |meal| %>
    <div style="padding: 20px">
      <%= link_to (image_tag image_url(meal.img_url), size: "300"), meal %><br>
      <%= link_to meal.name, meal %>
    </div>
  <%end%>

</div>
