  <h3><%= @meal.name %></h3>
  <% @meal.ingredients.each do |ingredient| %>
    <div>
      <%= link_to ingredient.name, ingredient %>
      <%= Recipe.find_by(meal_id: @meal.id, ingredient_id: ingredient.id).measure %>
    </div>
  <% end %>


  <%=image_tag image_url(@meal.img_url), height: 500%>


  <iframe class="embed-responsive-item" src=<%=@meal.vid_url%> allowfullscreen></iframe>
